@{
    ViewData["Title"] = "About Us";
}

@section Head {
    <link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
}

<br>
<div class="box-container">
    <p class="title">About Us</p>
    <div class="box">
        <p>
            WearHouse is a fast fashion brand that was founded in 2019. WearHouse aims to provide affordable, high
            quality, and easy-to-access fashion apparels. To fullfil our goals, we have opened more than 100
            stores in various cities across Indonesia. We have a commitment to make each of our product available in
            every store, with equal price tags and build qualities regardless of location.
        </p>
        <br>
        <p class="header">Contact Us</p>
        <p>Phone: (021) 12345</p>
        <p>Email: support@wearhouse.com</p>
    </div>
</div>
