@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-right">
        <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a></li>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <li>
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </li>
        </form>
    </div>
    <div class="resp-right">
        <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a></li>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <li>
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </li>
        </form>
    </div>
}
else
{
    <div class="nav-right">
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
    </div>
    <div class="resp-right">
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
    </div>
}
